* {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
   
}
nav ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    width: 30%;
    margin-right: 100px;
    color: white;
    font-size: 20px;
    margin-top: 60px;
    color: gray;
}
.best {
    text-align: center;
    margin-top: 50px;
}
.best h1 {
    margin-bottom: 10px;
}
.place {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 400px;
    margin-right: 80px;

}
.place2 {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 400px;
    margin-right: 80px;
    margin-top: 20px;

}
.place3 {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 400px;
    margin-right: 80px;
    margin-top: 20px;

}
.place4 {
    border-color: white;
    border-width: 2px;
    border-style: solid;
    margin-left:  28px;
    margin-top: 20px;
    width: 400px;
}